@model EmpresaDeViajes.Models.Excursion

@{
    ViewBag.Title = "Borrar Excursion";
}

<h2>Borrar</h2>

<h3>ESTAS SEGURO?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Duración)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Duración)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Costo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Costo)
        </dd>


    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Confirmar" class="btn btn-default" /> |
            @Html.ActionLink("Indice", "Index")
        </div>
    }
</div>
